    <div class="footer footer1 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
        <div class="wp">
            <div class="fd-c">
                <div class="fd-logo">
                    <a href="/"><img src="/images/logotb2025.png" alt=""></a>
                </div>
                <div class="fd-txt" >
                    <div class="item">总值班电话：<span class="tel">87951119</span>（24小时）</div>
                    <div class="item">地址：浙江省杭州市钱塘区学林街1298-1306号</div>
                    <div class="item">版权所有©杭州印象校联企业管理有限公司　<a href="https://beian.miit.gov.cn/" target="_blank" style="color:#fff;text-decoration:none;">浙ICP备2026010810号-1</a>　<a href="https://pagescms.org/fjh1997/website" target="_blank" style="color:rgba(255,255,255,0.5);text-decoration:none;font-size:12px;">管理员入口</a></div>
                </div>
            </div>
            <div class="fd-r">
                <div class="pic" ><img src="/images/qr.png" alt=""></div>
                <span>客服微信</span>
            </div>
            <div class="fd-r">
                <div class="pic" ><img src="/images/qr2.png" alt=""></div>
                <span>官方微信</span>
            </div>
        </div>
    </div>

    <div class="fix-right">
        <ul>
            <li class="i1"><a href="mailto:hzyxxl8753@163.com" class="con"><span class="ico"></span><em>邮箱</em></a></li>
            <li class="i2"><a href="tel:13805748753" class="con"><span class="ico"></span><em>热线电话</em></a></li>
            <li class="i3"><a href="javascript:;" class="con"><span class="ico"></span></a></li>
        </ul>
    </div>
