<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>印象校联商业集团</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    
    <link rel="stylesheet" href="/css/cui.css" />
    <link rel="stylesheet" href="/css/lib.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/less.css">
    
    <script type="text/javascript" src="/js/jq.js"></script>
    <script type="text/javascript" src="/js/jsd.js"></script>
    <script type="text/javascript" src="/js/lib.js"></script>
    <script type="text/javascript" src="/js/slide.js"></script>
  <style>
        /* 定义一个 Flex 容器，让内部元素横向排列并垂直居中 */
        .logo-container {
            display: flex;
            align-items: center; /* 保持垂直居中对齐 */
            text-decoration: none; /* 去掉链接下划线 */
        }
        
        /* Logo 图片样式 */
        .logo-img {
            height: 50px; /* 图片高度 */
            width: auto;
            margin-right: 15px; /* 图片和文字之间的间距 */
        }

        /* Logo 文字样式 */
        .logo-text {
            color: #ffffff; /* 白色文字 */
            font-size: 32px; 
            font-weight: bold; 
            line-height: 1; 
            white-space: nowrap;
            letter-spacing: 1px;
            
            /* 【新增】设置字体为楷体，提供多个备选以兼容不同系统 */
            font-family: "KaiTi", "STKaiti", "楷体", serif;
            
            /* 【新增】使用负外边距让文字向上微调，数值越小越靠上，可根据需要修改 */
            margin-top: -4px; 
        }

        /* 针对小屏幕手机的适配 */
        @media (max-width: 768px) {
            .logo-img { height: 36px; margin-right: 8px; }
            .logo-text { font-size: 20px; margin-top: -2px; } /* 手机端也相应微调 */
        }
    </style>
</head>
<body>

    <div class="header">
        <div class="wp">
    <div class="logo">
        <a href="/" class="logo-container">
            <img src="/images/logotb2025.png" alt="印象校联 logo" class="logo-img">
            <span class="logo-text">印象校联商业集团（杭州）有限公司</span>
        </a>
    </div>
            <span class="menuBtn"></span>
            <span class="so-btn"></span>
            <div class="hdr">
             <div class="nav">
                    <ul>
                        <li class="on"><a href="/" class="v1">首页</a></li>
                        <li><a href="/about/overview/" class="v1">集团概况</a></li>
                        <li><a href="/news/" class="v1">新闻中心</a></li>
                        
                        <li><a href="/party/" class="v1">校园合作</a></li>
                        
                        <li><a href="/notice/" class="v1">通知公告</a></li>
                        
                        <li><a href="/invest/contact/" class="v1">招商引资</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="slider">
            <div class="item">
                <a href="#" class="con" style="background-image: url(/images/banner.jpg);"></a>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="row-a1">
            <div class="wp">
                
                <div class="col-l wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                    <div class="g-t1">
                        <h2 class="tit">
                            <div class="cn"><span>新闻</span>动态</div>
                            <div class="en"><img src="/images/i-t1.png" alt=""></div>
                        </h2>
                        <a href="/news/" class="more">更<br>多</a>
                    </div>
                    
                <div class="m-slider1">
                    <div class="slider">
                        {{ range first 5 (where .Site.RegularPages "Section" "news") }}
                        
                        {{ $firstImg := "/images/banner.jpg" }} {{ if .Params.image }}
                            {{ $firstImg = .Params.image }}
                        {{ else }}
                            {{ $imgMatches := findRE `src="([^"]+)"` .Content 1 }}
                            {{ if len $imgMatches }}
                                {{ $firstImg = replaceRE `src="([^"]+)"` "$1" (index $imgMatches 0) }}
                            {{ end }}
                        {{ end }}
                        <div class="item">
                            <a href="{{ .RelPermalink }}" class="con">
                                <div class="pic"><img src="{{ $firstImg }}" alt=""></div>
                                <div class="txt">
                                    <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                                    <h3 class="tit">{{ .Title }}</h3>
                                </div>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
                    
                    <ul class="m-list1">
                        {{ range first 3 (where .Site.RegularPages "Section" "news") }}
                        <li>
                            <a href="{{ .RelPermalink }}" class="con">
                                <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                                <h3 class="tit">{{ .Title }}</h3>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                
            <div class="col-c wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.3s">
                <div class="g-t1">
                    <h2 class="tit">
                        <div class="cn"><span>校园</span>合作</div>
                        <div class="en"><img src="/images/i-t1.png" alt=""></div>
                    </h2>
                    <a href="/party/" class="more">更<br>多</a>
                </div>
                
                <div class="m-slider1">
                    <div class="slider">
                        {{ range first 5 (where .Site.RegularPages "Section" "party") }}
                        
                        {{ $firstImg := "/images/banner.jpg" }} 
                        {{ if .Params.image }}
                            {{ $firstImg = .Params.image }}
                        {{ else }}
                            {{ $imgMatches := findRE `src="([^"]+)"` .Content 1 }}
                            {{ if len $imgMatches }}
                                {{ $firstImg = replaceRE `src="([^"]+)"` "$1" (index $imgMatches 0) }}
                            {{ end }}
                        {{ end }}
                        <div class="item">
                            <a href="{{ .RelPermalink }}" class="con">
                                <div class="pic"><img src="{{ $firstImg }}" alt=""></div>
                                <div class="txt">
                                    <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                                    <h3 class="tit">{{ .Title }}</h3>
                                </div>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
    
    <ul class="m-list1">
        {{ range first 3 (where .Site.RegularPages "Section" "party") }}
        <li>
            <a href="{{ .RelPermalink }}" class="con">
                <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                <h3 class="tit">{{ .Title }}</h3>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
                
<div class="col-r wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.35s">
                    <div class="g-t1">
                        <h2 class="tit">
                            <div class="tab">
                                <ul class="TAB_CLICK" id=".tab-show1">
                                    <li class="on" onclick="document.getElementById('notice-more-btn').href='/notice/'">
                                        <a href="javascript:;">通知</a>
                                    </li>
                                    <li onclick="document.getElementById('notice-more-btn').href='/announcement/'">
                                        <a href="javascript:;">公告</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="en"><img src="/images/i-t2.png" alt=""></div>
                        </h2>
                        <a href="/notice/" class="more" id="notice-more-btn">更<br>多</a>
                    </div>
                    
                    <div class="tab-show1">
                        <ul class="m-list2">
                            {{ range first 7 (where .Site.RegularPages "Section" "notice") }}
                            <li>
                                <a href="{{ .RelPermalink }}" class="con">
                                    <div class="date">
                                        <span>{{ .Date.Format "02" }}</span>
                                        <em>{{ .Date.Format "2006.01" }}</em>
                                    </div>
                                    <div class="txt"><h3>{{ .Title }}</h3></div>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>

                    <div class="tab-show1 dn">
                        <ul class="m-list2">
                            {{ range first 7 (where .Site.RegularPages "Section" "announcement") }}
                            <li>
                                <a href="{{ .RelPermalink }}" class="con">
                                    <div class="date">
                                        <span>{{ .Date.Format "02" }}</span>
                                        <em>{{ .Date.Format "2006.01" }}</em>
                                    </div>
                                    <div class="txt"><h3>{{ .Title }}</h3></div>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row-a2">
            <div class="wp">
                <div class="footer wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                    <div class="fd-c">
                        <div class="fd-logo">        
                            <a href="/"><img src="/images/logotb2025.png" alt=""></a>
                        </div>
                        <div class="fd-txt">
                            <div class="item">总值班电话：<span class="tel">87951119</span>（24小时）</div>
                            <div class="item">版权所有©印象校联商业集团</div>
                        </div>
                    </div>
                    <div class="fd-r">
                        <div class="pic"><img src="/images/qr.png" alt=""></div>
                        <span>官方微信</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fix-right">
        <ul>
            <li class="i1"><a href="mailto:zhaoshang@yinxiangxiaolian.com" class="con"><span class="ico"></span><em>邮箱</em></a></li>
            <li class="i2"><a href="tel:057187951119" class="con"><span class="ico"></span><em>热线电话</em></a></li>
            <li class="i3"><a href="javascript:;" class="con"><span class="ico"></span></a></li>
        </ul>
    </div>

    <link rel="stylesheet" href="/css/slick.css">
    <script src="/js/slick.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.banner .slider').slick({
            dots:true, arrows:false, autoplay:true, slidesToShow: 1, autoplaySpeed: 5000, pauseOnHover:false, lazyLoad: 'ondemand'
        });
        $('.m-slider1 .slider').slick({
            dots:false, arrows:true, autoplay:true, slidesToShow: 1, autoplaySpeed: 5000, pauseOnHover:false, lazyLoad: 'ondemand'
        });
    });
    </script>
    
    <link rel="stylesheet" href="/css/animate.min.css">
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script>
        var wow = new WOW({ boxClass: 'wow', animateClass: 'animated', offset: 10, mobile: false, live: true });
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){ wow.init(); };
    </script>

</body>
</html>